.hpmepage .homepage-instructions {
  margin: 50px;
  padding: 30px;
  border: 1px solid #3e3e3e;
}

.hpmepage .homepage-instructions li {
  text-align: left;
}

.hpmepage .homepage-button {
  background-color: #3e3e3e;
  color: #fff;
  padding: 20px 30px;
  font-size: 0.7em;
  border-radius: 10px;
}
